.container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  min-height: 90vh;
}

.box {
  min-width: 19%;
  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
  filter: grayscale(80%);
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid black;
  margin-right: 0.66rem;
  transform: scale(1);
}

.box.active {
  min-width: 40%;
  /* transform: scale(1.05); */
  filter: grayscale(0%);
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  border: 2px solid red;
  z-index: 12;
  background-color: red;
}

.box:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .box {
    min-width: 100%;
  }
  .box.active {
    min-width: 100%;
  }
}
